body{
  background-color: aqua;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
p{
  position: absolute;
  top:0;
  color: rgb(70, 69, 69);
  text-align: center;
  font-size: 2em;
}
/*color */
.gameboard{
  width: 100vh;
  height: 100vh;
  max-width: 60vh;
  max-height: 60vh;
  border-radius: 50%;
  overflow: hidden;
}

.color{
  width: 50%;
  height: 50%;
  display: inline-block
}
.left{
  float: left;
}
.right{
 float: right;
}
.celeste {
  background: #22a6b3;
}

.celeste.light {
  background: #7ed6df;
}

.violeta {
  background: #be2edd;
}

.violeta.light {
  background: #e056fd;
}

.naranja {
  background: #f0932b;
}

.naranja.light {
  background: #ffbe76;
}

.verde {
  background: #6ab04c;
}

.verde.light {
  background: #badc58;
}

.btn-start {
  width: 400px;
  height: 100px;
  background-color: #ecf0f1;
  color: #2c3e50;
  font-size: 2.5rem;
  position: absolute;
  top:calc(50% - 50px);
  left:calc(50% - 200px);

  
}
.hide{
  display: none;
}
 .counter{
   display: none;
 }
.show{
  display: block;
  
}


